/* primary color #cc8e35 */
/* secondary color #84817a */
/* tertiary color #f7f1e3 */

/* GLOBALS */

html, body {
	min-height: 100%;
	margin: 0;
}

body {
	background-color: #f7f1e3;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 0 7%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between; 
}

a {
	color: inherit;
	text-decoration: none;
}

i.fas {
	margin: 0 1ex;
}

span.author {
	display: inline-block;
	font-size: 21px;
	font-weight: bold;
	padding-right: 2ex;
	border-right: 1px solid;
	vertical-align: middle;
}

span.catchphrase {
	display: inline-block;
	color: #d1ccc0;
	font-size: 14px;
	margin-left: 2ex;
	vertical-align: middle;
}

/* END GLOBALS */

/* HEADER STYLES */

header {
	height: 500px;
	background:linear-gradient(rgba(0,0,0,.5), transparent), url("../img/castella.jpg") no-repeat center;
	background-size: cover;
	color: #f7f1e3;
	margin: 0;
	overflow: hidden;
}

header h1 {
	font-size: 72px;
	text-shadow: 1px 1px #84817a;
}

/* NAV STYLES */

nav {
	font-size: 21px;
	margin-top: .5em;
	flex-basis: 100%;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}

nav > a, nav > span {
	flex-grow: 0;
} 

nav ul {
	flex-grow: 1;
	text-align: right;
	margin: 0;
}

nav li {
	display: inline;
}

nav a:hover {
	color: #cc8e35;
	text-shadow: 0 0 5px #000;
}

nav a.menu i {
	margin-left: 0;
}

nav li:last-of-type i {
	margin-right: 0;
}

/* END NAV STYLES */

/* END HEADER STYLES */

/* CONTENT STYLES */

h2, h3 {
	color: #cc8e35;
}

h2, article blockquote {
    font-family: 'Dancing Script', cursive;
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right, #cc8e35, transparent) 1;
}

ul, ol {
	padding: 0;
}

ul {
	list-style-type: none;
}


/* ASIDE STYLES */

aside {
	flex-basis: 30%;
}

aside h2 {
	margin-bottom: .25em;
}

h3 {
	font-weight: normal;
	margin-bottom: .25em;
}

ul.with-header {
	margin-top: 0;
}

ul.time {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0;
}

ul.time li {
	display: inline-block;
	flex-basis: 50%;
	text-align: center;
	border-bottom: 1px solid black;
}

ul.time li:last-child {
	flex-basis: 100%;
	border: none;
}

ul.time li span {
	font-size: 2em;
	font-weight: bold;
	color: #84817a;
}

/* END ASIDE STYLES */

/*CONTENT STYLES */

article {
	box-sizing: border-box;
	padding-left: 2ex;
	flex-basis: 70%;
}

article h2 {
	margin-bottom: 2em;
}

article ol {
	list-style: decimal inside;
}

article ol li {
	margin-bottom: 1em;
}

article blockquote {
	color: #cc8e35;
	margin: 2em 0;
	padding-left: 40px;
	font-size: 1.5em;
	font-weight: bold;
}

article blockquote i {
	margin-left: 0 !important;
}

/* END CONTENT STYLES */

/* FOOTER STYLES */

footer {
	height: 250px;
	background-color: #84817a;
	color: #d1ccc0;
	overflow: hidden;
	padding: 2ex 0;
	box-sizing: border-box;
}

footer a.search {
	font-size: 21px;
}

footer a.search i {
	margin-left: 0;
}

footer a:hover {
	color: #fff;
}

footer li a:hover {
	color: #cc8e35;
	font-weight: bold;
}

footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

footer li {
	display: inline;
	flex-basis: 33%;
}

footer div div {
	box-sizing: border-box;
	flex-basis: 50%;
	height: 100%;
}

footer div div:last-of-type {
	border-left: 1px solid;
	padding-left: 2ex;
}

footer a.to-top {
	position: relative;
	display: block;
	box-sizing: border-box;
	color: #f7f1e3;
	background-color: #cc8e35;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	padding: 20px 10px;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	left: 0;
	right: 0;
	bottom: 80px;
	margin: 0 auto;
}

footer a.to-top:hover {
	background-color: #d1ccc0;
	color: #cc8e35;
}

/* END FOOTER STYLES */